<% include ./_header %>

<h2>Welcome to the dashboard. Choose a task below to get started:</h2><br>
<a href="/queryUserData">Query data</a>
<br/>
<a href="/analyticsListeners">Analytics listeners</a>
<br/>
<a href="/extendTrialPeriod">Extend trial period</a>
<br/>
<a href="/editSubscription">Edit subscription</a>
<br/>
<a href="/cloneUser">Clone user</a>
<br/>
<a href="/listUsers">List all users</a>
<br/>
<a href="/testMixpanel">Mixpanel testing area</a>
<br/>
<a href="/tutorialFunnel">Tutorial funnel</a>
<br/>
<a href="/promocodes">Promo codes</a>
<br/>
<br/>
<br/>
<br/>
<a href="/deleteUser"><b>DELETE USER</b></a>

<% include ./_footer %>